* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00bcd469;
}

div.container {
  width: 70%;
  margin: 0 auto;
}

header > h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 70px;
  color: white;
}

.cards {
  width: 100%;
}

.row {
  width: 90%;
}

.row, .cards {
  margin: 0 auto;
}

.card {
  display: inline-block;
  background: white;
  height: 200px;
  width: 200px;
  margin: 10px;
  background-size: 90%;
  border-radius: 10px;
  position: relative;
}
.card:not(.special){
  background-image: url("../img/pattern.png");
}

footer span {
  font-size: 20px;
}

.card:hover:not(.special), .special {
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  content: "Air Baloon";


}

h2 {
  position: absolute;
  bottom: 15px;
  left: 50px;
}
